{{> header }}
    {{> navbar }}<!--para traer el diseño que esta en otro archivo-->
    <div class="row">
       <div class="col-8">
           <h1>Bayern Munche</h1>
           <p>bayern munche 5 veces campeon de la champions ligue</p>
       </div>
       <div class="col-4">
           <img src="/assets/img/bayern.jpg" class="img-thumbnail">
       </div>
    </div>
{{> footer }}